{% extends "SiteBundle::layout.html.twig" %}

{% block title %}home{% endblock %}

{% block body %}
	
	<div class="container">
		<div class="row">
			<div class="col-xs-2 col-xs-push-2">
				<h2> NEWS </h2>
			</div>
		</div>
	</div>	
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 slider">
				
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row vertical-align">
			<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 simple">
				<img src="./images/secours.png" width="200">	
			</div>
			
			<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 simple">
				<img src="./images/forum.png" width="300">	
			</div>
			
			<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 simple">
				<img src="./images/admin.png" width="200">	
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 simple">
				<img src="./images/manger.png" width="200">	
			</div>
			
			<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 simple">
				<img src="./images/lit.png" width="200">	
			</div>
			
			<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 simple">
				<img src="./images/douche.png" width="200">	
			</div>
		</div>
	</div>
		
	
{% endblock %}