/*--------------------------------*\
         Style Communigee
\*--------------------------------*/



/*--------------------------------*\
			 General
\*--------------------------------*/
* {				
	outline: 0;
	margin: 0;
	border: 0;
	padding: 0;
}

@font-face {
	font-family: 'RalewaySemiBold';
	src: url('./polices/Raleway/Raleway-SemiBold.ttf'); 
}

@font-face {
	font-family: 'RalewayRegular';
	src: url('./polices/Raleway/Raleway-Regular.ttf'); 
}

.container-fluid {
	border: 2px solid blue;
}

.container {
	border: 2px solid green;
}

.row {
	border: 2px solid purple;
}

[class*="col-"] {
  border: 2px solid skyblue;
}

.vertical-align {
	display: flex;
	align-items: center;
}

/*--------------------------------*\
				Nav
\*--------------------------------*/

ul {
	margin-top: 5%;
	border: 2px solid yellow;
}

li {
	display: inline-block;
	padding: 0px 5.5%;
	border: 2px solid green;
}

li a {
	color: black;
	font-size: 1.2em;
	font-family: 'RalewayRegular';
}

li:hover a {
	color: #FF7F3A; /*orange*/
}

li a:hover {
	text-decoration: none;
}

.active a {
	color: #FF7F3A; /*orange*/
}





/*--------------------------------*\
			 Header
\*--------------------------------*/

img.main {
	display: inline-block;
	width: 90px;
}

h1 {
	display: inline-block;
	font-family:'RalewaySemiBold';
	font-size: 4.3em;
	letter-spacing: 8px;
}





/*--------------------------------*\
			 Principal
\*--------------------------------*/

.slider {
	height: 450px;
}

div.simple  {
	padding-top: 2%;
	padding-bottom: 2%;
}

div.simple img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------*\
			 Footer
\*--------------------------------*/

footer {
	height: 100px;
}

footer img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}








