{% extends "::base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('./bootstrap/css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('./style.css') }}" />
{% endblock %}

{% block header %}

	<header class="container">
		<div class="row">
			<div class="col-xs-11 col-sm-11 col-md-5 col-lg-5">
				<h1> COMMUNIGEE </h1>
			</div>
			
			<div class="col-xs-1 col-sm-1 col-md-2 col-lg-2">
				<h1> COMMUNIGEE </h1>
			</div>
			
			<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
				<nav>
					<ul>
						<li class="active"><a href="accueil.html">Home</a></li>
						<li><a href="inscription.html">Inscription</a></li>
						<li><a href="login.html">Login</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

{% endblock %}



{% block footer %}
	<footer class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<p> mon super footer </p>
			</div>
		</div>
	</footer>
{% endblock %}


